@use "../../../../../style" as *;

#logoCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 110vh;
    height: 110svh;
    min-height: 650px;
    #logoRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100%;
        align-items: center;
        text-align: center;
        #logoCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 150px;
            }
        }
    }
}
#aboutCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 220vh;
    height: 220svh;
    min-height: 1300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    #aboutBackgroundImage {
        @include box-reset-default;
        //border: $gb-col_5-sol-blu;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    #gapRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 5%;
    }
    #aboutRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 45%;
        min-height: 650px;
        #aboutCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            padding: 50px 50px 50px 50px;
            #voltaText {
                @include box-reset-default;
                //border: $gb-row_2-sol-ylw;
                height: 30%;
                padding-bottom: 10px;
                gap: 20px;
                #voltaTextBox {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    background-color: $transGrey;
                    align-content: center;
                    padding-left: 50px;
                    padding-right: 50px;
                }
                #voltaImgBox {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: 70%;
                }
            }
            #voltaVideo {
                @include box-reset-default;
                //border: $gb-row_2-sol-ylw;
                height: 70%;
                padding-top: 10px;
                gap: 20px;
                #voltaLogoBox {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    background-color: $voltaBlue;
                    justify-items: center;
                    align-content: center;
                    display: grid;
                    padding: 10px;
                    img {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        min-width: 30%;
                        max-width: 50%;
                    }
                }
                #voltaVideoBox {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    #sustRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 50%;
        min-height: 650px;
        #sustCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            align-content: center;
            #sustTextRow {
                @include box-reset-default;
                //border: $gb-row_2-sol-org;
                max-height: fit-content;
                justify-content: center;
                background-color: $transGrey;
                #sustTextCol {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    min-height: 650px;
                    max-width: 1380px;
                    padding: 50px;
                    text-align: justify;
                    font-size: 1.2rem;
                    #topTextRow {
                        @include box-reset-default;
                        //border: $gb-row_2-dsh-ylw;
                        margin-bottom: 30px;
                        p {
                            @include box-reset-default;
                            //border: $gb-col_2-dsh-blu;
                            #tallCase {
                                @include box-reset-default;
                                //border: $gb-col_2-dsh-cyn;
                                font-size: clamp(1.65rem, 4vw, 2rem);
                            }
                        }
                    }
                    #bulletPointsRow {
                        @include box-reset-default;
                        //border: $gb-row_2-dsh-ylw;
                        gap: 30px;
                        justify-content: center;
                        flex-wrap: wrap;
                        #bulletPointsCol {
                            @include box-reset-default;
                            //border: $gb-col_2-dsh-blu;
                            height: fit-content;
                            p {
                                @include box-reset-default;
                                //border: $gb-col_2-dsh-blu;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #logoCon {
        #logoRow {
            #logoCol {
                img {
                    height: 100px;
                }
            }
        }
    }
    #aboutCon {
        height: fit-content;
        #aboutRow {
            height: 100vh;
            height: 100svh;
            #aboutCol {
                height: 100%;
                align-content: center;
                #voltaText {
                    height: fit-content;
                    //padding-bottom: 0;
                    gap: 0px;
                    #voltaTextBox {
                        padding: 25px;
                    }
                    #voltaImgBox {
                        visibility: hidden;
                    }
                }
                #voltaVideo {
                    height: 50%;
                    #voltaLogoBox {
                        height: 35%;
                    }
                    #voltaVideoBox {
                        height: 65%;
                    }
                }
            }
        }
        #sustRow {
            #sustCol {
                #sustTextRow {
                    #sustTextCol {
                        #topTextRow {
                            p {
                                font-size: 0.9rem;
                            }
                        }
                        #bulletPointsRow {
                            #bulletPointsCol {
                                p {
                                    font-size: 0.9rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#logoCon, #aboutCon {
    .fade-in-target {
        opacity: 0;
        transform: translateY(75px);
        transition: opacity 0.75s ease-out, transform 0.75s ease-out;
    }
    .fade-in-up {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition-delay: calc(var(--delay, 0ms));
    }
}