@use "../../../style" as *;

header {
    @include box-reset-default;
    //border: $gb-con_5-dsh-mag;
    height: fit-content;
}
main {
    @include box-reset-default;
    //border: $gb-con_5-dsh-mag;
    height: fit-content;
    #navbarRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        min-height: 75px;
        max-height: fit-content;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: $voltaBlue;
        padding: 0px 30px 0px 30px;
        flex-wrap: nowrap;
        align-items: center;
        #navbarLogoCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            width: fit-content;
            align-content: center;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 40px;
            }
        }
        #navbarNavCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            align-content: center;
            height: 100%;
            margin: 10px 0;
            #navCon {
                @include box-reset-default;
                //border: $gb-con_2-dsh-mag;
                height: 100%;
                align-content: center;
                #navRow {
                    @include box-reset-default;
                    //border: $gb-row_2-dsh-org;
                    height: fit-content;
                    width: 100%;
                    align-content: center;
                    justify-content: end;
                    #navLi {
                        @include box-reset-default;
                        //border: $gb-col_2-dsh-cyn;
                        height: fit-content;
                        list-style: none;
                        align-content: center;
                        justify-items: center;
                        font-size: 1.1rem;
                        a {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            text-decoration: none;
                            color: inherit;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}
footer {
    @include box-reset-default;
    //border: $gb-con_5-dsh-mag;
    height: fit-content;
}

@media only screen and (max-width: 480px) {
    #navbarRow {
        visibility: hidden;
    }
}