@use "../../../../../style" as *;

#hpFooterCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 100vh;
    #partnersRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 40vh;
        align-items: center;
        text-align: center;
        #partnersCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            align-content: end;
            #partnersTitleRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                #partnersTitleCol {
                    @include box-reset-default;
                    //border: $gb-col_5-sol-cyn;
                    color: black;
                    align-content: end;
                    padding: 10px;
                    h4 {
                        @include box-reset-default;
                        //border: $gb-elm_5-dsh-grn;
                    }
                }
            }
            #partnersLogosRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                height: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 0 25px 25px 25px;
                #partnersLogoCol {
                    @include box-reset-default;
                    //border: $gb-col_5-sol-cyn;
                    height: 80px;
                    align-content: end;
                    padding: 0 35px 15px 35px;
                    #logoFronius {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 150px;
                    }
                    #logoJaSolar {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 125px;
                    }
                    #logoJinko {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 115px;
                    }
                    #logoCanadianSolar {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 225px;
                    }
                    #logoLongi {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 115px;
                    }
                    #logoTrina {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 150px;
                    }
                    #logoEnphase {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 200px;
                    }
                }
            }
        }
    }
    #contactRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 60vh;
        background-color: $voltaBlue;
        justify-content: center;
        #contactCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            justify-items: center;
            max-width: 1380px;
            height: 100%;
            padding: 50px 50px 25px 50px;
            #footerLogoRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                height: 25%;
                width: 100%;
                justify-content: center;
                #footerLogoCol {
                    @include box-reset-default;
                    //border: $gb-col_5-sol-cyn;
                    height: 100%;
                    padding: 25px 25px 0 25px;
                    img {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        height: 100%;
                    }
                }
            }
            #contactsMainRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                height: 60%;
                width: 100%;
                align-content: center;
                #adressCol {
                    @include box-reset-default;
                    //border: $gb-col_5-sol-cyn;
                    height: 70%;
                    border-right: 1px solid white;
                    text-align: end;
                    align-content: center;
                    padding: 10px 25px 10px 10px;
                    justify-items: end;
                    p {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        width: fit-content;
                        strong {
                            font-size: 1.2rem;
                        }
                    }
                }
                #profileContactCol {
                    @include box-reset-default;
                    //border: $gb-col_5-sol-cyn;
                    height: 70%;
                    border-left: 1px solid white;
                    text-align: start;
                    align-content: center;
                    padding: 10px 10px 10px 25px;
                    p {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        width: fit-content;
                        strong {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            #signaturesRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                height: 15%;
                width: 100%;
                text-align: center;
                p {
                    @include box-reset-default;
                    //border: $gb-elm_2-dsh-lgr;
                    font-weight: 100;
                    a {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) { 
    #hpFooterCon {
        #partnersRow {
            #partnersCol {
                #partnersLogosRow {
                    #partnersLogoCol {
                        #logoFronius {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 100px;
                        }
                        #logoJaSolar {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 90px;
                        }
                        #logoJinko {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 90px;
                        }
                        #logoCanadianSolar {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 190px;
                        }
                        #logoLongi {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 90px;
                        }
                        #logoTrina {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 100px;
                        }
                        #logoEnphase {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 150px;
                        }
                    }
                }
            }
        }
        #contactRow {
            @include box-reset-default;
            //border: $gb-row_5-sol-ylw;
            height: 60vh;
            background-color: $voltaBlue;
            justify-content: center;
            #contactCol {
                @include box-reset-default;
                //border: $gb-col_5-sol-blu;
                justify-items: center;
                max-width: 1380px;
                height: 100%;
                //padding: 50px 50px 25px 50px;
                #footerLogoRow {
                    @include box-reset-default;
                    //border: $gb-row_5-sol-org;
                    height: 25%;
                    width: 100%;
                    justify-content: center;
                    #footerLogoCol {
                        @include box-reset-default;
                        //border: $gb-col_5-sol-cyn;
                        height: 100%;
                        padding: 50px 50px 0 50px;
                        img {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            height: 100%;
                        }
                    }
                }
                #contactsMainRow {
                    @include box-reset-default;
                    //border: $gb-row_5-sol-org;
                    height: 60%;
                    width: 100%;
                    align-content: center;
                    #adressCol {
                        @include box-reset-default;
                        //border: $gb-col_5-sol-cyn;
                        height: 70%;
                        border-right: 1px solid white;
                        text-align: end;
                        align-content: center;
                        padding: 10px 25px 10px 10px;
                        justify-items: end;
                        p {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            width: fit-content;
                            strong {
                                font-size: 1.2rem;
                            }
                        }
                    }
                    #profileContactCol {
                        @include box-reset-default;
                        //border: $gb-col_5-sol-cyn;
                        height: 70%;
                        border-left: 1px solid white;
                        text-align: start;
                        align-content: center;
                        padding: 10px 10px 10px 25px;
                        p {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            width: fit-content;
                            strong {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                #signaturesRow {
                    @include box-reset-default;
                    //border: $gb-row_5-sol-org;
                    height: 15%;
                    width: 100%;
                    text-align: center;
                    p {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        font-weight: 100;
                        a {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}