@use "../../../../../style" as *;

#hpFooterCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 100vh;
    #partnersRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 40vh;
        align-items: center;
        text-align: center;
        #partnersCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            align-content: end;
            #partnersTitleRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                #partnersTitleCol {
                    @include box-reset-default;
                    //border: $gb-col_5-sol-cyn;
                    color: black;
                    align-content: end;
                    padding: 10px;
                    h4 {
                        @include box-reset-default;
                        //border: $gb-elm_5-dsh-grn;
                    }
                }
            }
            #partnersLogosRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                height: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 0 25px;
                #partnersLogoCol {
                    @include box-reset-default;
                    //border: $gb-col_5-sol-cyn;
                    height: 80px;
                    align-content: end;
                    padding: 0 10px 15px 10px;
                    #logoFronius {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 150px;
                    }
                    #logoJaSolar {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 125px;
                    }
                    #logoJinko {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 115px;
                    }
                    #logoCanadianSolar {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 225px;
                    }
                    #logoLongi {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 115px;
                    }
                    #logoTrina {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 150px;
                    }
                    #logoEnphase {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        max-width: 200px;
                    }
                }
            }
        }
    }
    #contactRow {
        @include box-reset-default;
        border: $gb-row_5-sol-ylw;
        height: 60vh;
        background-color: $voltaBlue;
        justify-content: center;
        #contactCol {
            @include box-reset-default;
            border: $gb-col_5-sol-blu;
            justify-items: center;
            max-width: 1380px;
            padding: 25px 50px 50px 50px;
            #footerLogoRow {
                @include box-reset-default;
                border: $gb-row_5-sol-org;
                height: 20%;
                width: 100%;
                justify-content: center;
                #footerLogoCol {
                    @include box-reset-default;
                    border: $gb-col_5-sol-cyn;
                    height: 100%;
                    padding: 10px;
                    img {
                        @include box-reset-default;
                        border: $gb-elm_2-dsh-lgr;
                        height: 100%;
                    }
                }
            }
            #contactsMainRow {
                @include box-reset-default;
                border: $gb-row_5-sol-org;
                height: 60%;
                width: 100%;
                #adressCol {
                    @include box-reset-default;
                    border: $gb-col_5-sol-cyn;
                }
                #profileContactCol {
                    @include box-reset-default;
                    border: $gb-col_5-sol-cyn;
                }
            }
            #signaturesRow {
                @include box-reset-default;
                border: $gb-row_5-sol-org;
                height: 20%;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 768px) { 
    #hpFooterCon {
        #partnersRow {
            #partnersCol {
                #partnersLogosRow {
                    #partnersLogoCol {
                        #logoFronius {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 100px;
                        }
                        #logoJaSolar {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 90px;
                        }
                        #logoJinko {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 90px;
                        }
                        #logoCanadianSolar {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 190px;
                        }
                        #logoLongi {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 90px;
                        }
                        #logoTrina {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 100px;
                        }
                        #logoEnphase {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            max-width: 150px;
                        }
                    }
                }
            }
        }
    }
}