@use "../../../../../style" as *;

#hpFooterCon {
    @include box-reset-default;
    border: $gb-con_5-sol-red;
    height: 100vh;
    #partnersRow {
        @include box-reset-default;
        border: $gb-row_5-sol-ylw;
        height: 30%;
        align-items: center;
        text-align: center;
    }
    #contactRow {
        @include box-reset-default;
        border: $gb-row_5-sol-ylw;
        height: 70%;
        align-items: center;
        text-align: center;
    }
}