@use "../../../../../style" as *;

#infosCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 330vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    position: relative;
    #prjPhasesRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: calc(100% / 3);
        align-items: center;
        text-align: center;
        #prjPhasesCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            align-content: center;
            img {
                @include box-reset-default;
                //border: $gb-elm_5-sol-lgr;
                width: 80%;
            }
        }
    }
    #howItWorksRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: calc(100% / 3);
        align-items: center;
        #howItWorksCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            align-content: center;
            justify-items: center;
            #howItWorksTextCon {
                @include box-reset-default;
                //border: $gb-con_2-sol-mag;
                height: 100%;
                justify-items: center;
                background-color: $transGrey;
                #howItWorksTextRow {
                    @include box-reset-default;
                    //border: $gb-row_2-sol-org;
                    height: 100%;
                    max-width: 1380px;
                    padding: 50px;
                    gap: 30px;
                    flex-wrap: wrap;
                    align-items: center;
                    #howItWorksTextCol {
                        @include box-reset-default;
                        //border: $gb-col_2-sol-blu;
                        height: 100%;
                        min-width: 400px;
                        //padding: 10px;
                        font-size: 1.25rem;
                        text-align: justify;
                        h4 {
                            text-align: start !important;
                        }
                    }
                    #howItWorksVideoCol {
                        @include box-reset-default;
                        //border: $gb-col_2-sol-blu;
                        height: 100%;
                        min-width: 400px;
                        //padding: 10px;
                        iframe {
                            width: 100%;
                            height: 400px;
                        }
                    }
                }
            }
        }
    }
    #letsTalkRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: calc(100% / 3);
        padding: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        #letsTalkCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            max-width: 1380px;
            align-content: center;
            position: relative;
            #letsTalkTextRow {
                @include box-reset-default;
                //border: $gb-row_2-sol-org;
                height: fit-content;
                width: 100%;
                border-radius: 50px;
                padding: 50px;
                background-color: $transGrey;
                #letsTalkTextCol {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    .row {
                        @include box-reset-default;
                        //border: $gb-row_2-dsh-ylw;
                        justify-content: center;
                        #zap {
                            @include box-reset-default;
                            //border: $gb-col_2-dsh-cyn;
                            padding: 0 15px;
                            font-weight: 100;
                            font-size: 1.2rem;
                        }
                        #mail {
                            @include box-reset-default;
                            //border: $gb-col_2-dsh-cyn;
                            padding: 0 15px;
                            font-weight: 100;
                        }
                    }
                }
            }
            #checkOurProjectsRow {
                @include box-reset-default;
                //border: $gb-row_2-sol-org;
                width: 100%;
                position:absolute;
                bottom: 0;
                #arrowDownCol {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    height: 75px;
                    padding: 10px;
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    #infosCon {
        #prjPhasesRow {
            #prjPhasesCol {
                img {
                    width: 100%;
                }
            }
        }
    }
}
  