@use "../../../../../style" as *;

#infosCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 330vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    position: relative;
    #prjPhasesRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: calc(100% / 3);
        align-items: center;
        text-align: center;
        #prjPhasesCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            align-content: center;
            img {
                @include box-reset-default;
                //border: $gb-elm_5-sol-lgr;
                height: 90%;
            }
        }
    }
    #howItWorksRow {
        @include box-reset-default;
        border: $gb-row_5-sol-ylw;
        height: calc(100% / 3);
        align-items: center;
        text-align: center;
    }
    #letsTalkRow {
        @include box-reset-default;
        border: $gb-row_5-sol-ylw;
        height: calc(100% / 3);
        align-items: center;
        text-align: center;
    }
}