@use "../../../../../style" as *;

#jumboCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    position: relative;
    #jumboRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100%;
        align-items: center;
        text-align: center;
        #jumboColMenu {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            #menuIconRow {
                @include box-reset-default;
                //border: $gb-row_2-sol-org;
                #menuIcon {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    img {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        height: 30px;
                        margin: 50px;
                    }
                }
            }
        }
        #jumboColText {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            #voltaJumboLogo {
                @include box-reset-default;
                //border: $gb-row_2-sol-org;
                justify-content: end;
                height: 25%;
                #voltaLogo {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    img {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        height: 100px;
                        margin: 50px;
                    }
                }
            }
            #jumboText {
                @include box-reset-default;
                //border: $gb-row_2-sol-org;
                height: 50%;
                align-items: center;
                padding: 50px;
                #missionTexts {
                    @include box-reset-default;
                    //border: $gb-elm_2-dsh-lgr;
                    border-right: 1px solid white;
                    padding: 10px;
                    height: fit-content;
                    text-align: end;
                    font-weight: 100;
                }
            }
        }
    }
}

#menuOpen {
    @include box-reset-default;
    //border: $gb-row_5-sol-org;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 3;
    background-color: rgba(7, 68, 93, 1);
    transition: width 0.75s ease-in-out;
    overflow: hidden;
    text-align: start;
    #menuCol {
        @include box-reset-default;
        //border: $gb-col_5-sol-cyn;
        position: absolute;
        height: 100%;
        #menuNav {
            @include box-reset-default;
            //border: $gb-row_2-dsh-org;
            height: fit-content;
            margin: 0px 30px -30px 50px;
            overflow: hidden;
            text-wrap: nowrap;
            -webkit-text-stroke: 1.2px white;
            #menuList {
                @include box-reset-default;
                //border: $gb-col_2-dsh-cyn;
                list-style: none;
                li {
                    @include box-reset-default;
                    //border: $gb-col_2-dsh-cyn;
                    margin-bottom: 10px;
                    a {
                        text-decoration: none;
                        color: inherit; 
                    }
                    h3 {
                        @include box-reset-default;
                        //border: $gb-col_2-dsh-cyn;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin-bottom: 7px;
                        a {
                            text-decoration: none;
                            color: inherit; 
                            -webkit-text-stroke: 0px white;
                        }
                    }
                    h4 {
                        @include box-reset-default;
                        //border: $gb-col_2-dsh-blu;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding-left: 25px;
                        margin-bottom: 7px;
                        a {
                            text-decoration: none;
                            color: inherit; 
                            -webkit-text-stroke: 0px white;
                        }
                    }
                }
            }
            h2:hover {
                color: $sunOrange;
                cursor: pointer;
                -webkit-text-stroke: 1.5px $sunOrange;
                transition: color 0.2s ease-in-out;
            }
        }
        #menuFooter {
            @include box-reset-default;
            //border: $gb-row_5-dsh-org;
            height: 60px;
            margin: 30px 30px -30px 50px;
            overflow: hidden;
            text-wrap: nowrap;
            padding-bottom: 15px;
            position: absolute;
            bottom: 60px;
            #followUs {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                color: white;
                //font-weight: lighter;
                //font-size: 85%;
                align-content: end;
            }
            h5 {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: lighter;
                    text-decoration: underline;
                }
            }
            a:hover {
                color: $sunOrange;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
            }
            #separator:hover {
                color: black;
            }
        }
    }
}
#menuClosed {
    @include box-reset-default;
    //border: $gb-row_5-sol-org;
    width: 0%; 
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: $voltaBlue;
    transition: width 0.75s ease-in-out 0.25s;
    overflow: hidden; 
}