@use "../../../../../style" as *;

#jumboCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 100vh;
    height: 100svh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    position: relative;
    #jumboBackgroundImage {
        @include box-reset-default;
        //border: $gb-col_5-sol-blu;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    #jumboRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100%;
        align-items: center;
        text-align: center;
        position: relative;
        #jumboFilter{
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            position: absolute;
            z-index: 0;
            height: 100%;
            background-color: white;
        }
        #jumboColMenu {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            position: absolute;
            z-index: 1;
            #menuIconRow {
                @include box-reset-default;
                //border: $gb-row_2-sol-org;
                #menuIcon {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    cursor: pointer;
                    img {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        height: 30px;
                        margin: 50px;
                    }
                }
            }
        }
        #jumboColText {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            justify-items: end;
            #voltaJumboLogo {
                @include box-reset-default;
                //border: $gb-row_2-sol-org;
                justify-content: end;
                height: 25%;
                #voltaLogo {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    img {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        height: 100px;
                        margin: 50px;
                    }
                }
            }
            #jumboText {
                @include box-reset-default;
                //border: $gb-row_2-sol-org;
                height: 50%;
                width: 50%;
                align-items: end;
                padding: 50px 50px 50px 50px;
                #missionTexts {
                    @include box-reset-default;
                    //border: $gb-elm_2-dsh-lgr;
                    border-right: 1px solid white;
                    padding: 10px 10px 0 10px;
                    height: fit-content;
                    text-align: end;
                    font-weight: 100;
                    font-size: 1.1rem;
                    overflow: hidden;
                    p {
                        opacity: 1;
                        transform: translateX(0);
                        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
                    }
                    .fade-out {
                        opacity: 1;
                        transform: translateX(100%); // <<< Slide left 20px
                        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
                    }
                    .fade-in {
                        opacity: 1;
                        transform: translateX(0); // <<< Slide back to original
                        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
                    }
                }
            }
        }
    }
}

#menuOpen {
    @include box-reset-default;
    //border: $gb-row_5-sol-org;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 3;
    background-color: rgba(25, 25, 25, 0.75);
    transition: width 0.75s ease-in-out;
    overflow: hidden;
    text-align: start;
    #menuCol {
        @include box-reset-default;
        //border: $gb-col_5-sol-cyn;
        position: absolute;
        height: 100%;
        #menuNav {
            @include box-reset-default;
            //border: $gb-row_2-dsh-org;
            height: fit-content;
            margin: 0px 30px -30px 50px;
            overflow: hidden;
            text-wrap: nowrap;
            #menuList {
                @include box-reset-default;
                //border: $gb-col_2-dsh-cyn;
                list-style: none;
                li {
                    @include box-reset-default;
                    //border: $gb-col_2-dsh-cyn;
                    a {
                        text-decoration: none;
                        color: inherit; 
                    }
                    #navLi {
                        @include box-reset-default;
                        //border: $gb-col_2-dsh-cyn;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        a {
                            text-decoration: none;
                            color: inherit; 
                        }
                    }
                    #projLi {
                        @include box-reset-default;
                        //border: $gb-col_2-dsh-blu;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding-left: 0px;
                        a {
                            text-decoration: none;
                            color: inherit; 
                        }
                    }
                }
            }
            h2:hover {
                color: $sunOrange;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
            }
        }
        #menuFooter {
            @include box-reset-default;
            //border: $gb-row_5-dsh-org;
            height: 60px;
            margin: 30px 30px -30px 50px;
            overflow: hidden;
            text-wrap: nowrap;
            padding-bottom: 15px;
            position: absolute;
            bottom: 60px;
            #followUs {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                color: white;
                //font-weight: lighter;
                //font-size: 85%;
                align-content: end;
            }
            h5 {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: lighter;
                    text-decoration: underline;
                }
            }
            a:hover {
                color: $sunOrange;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
            }
            #separator:hover {
                color: black;
            }
        }
    }
}
#menuClosed {
    @include box-reset-default;
    //border: $gb-row_5-sol-org;
    width: 0%; 
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(25, 25, 25, 0.75);
    transition: width 0.75s ease-in-out 0.25s;
    overflow: hidden; 
}

#jumboCon {
    .fade-out-target {
        opacity: 1;
        transition: opacity 2.5s ease-out;
    }
    
    .fade-out-filter {
        opacity: 0 !important;
        transition: opacity 5s ease-out 3s;
    }
    
    .fade-in-target {
        opacity: 0;
        transform: translateX(-75px);
        transition: opacity 3.25s ease-out, transform 3.25s ease-out;
    }
    
    .fade-in-up {
        opacity: 1 !important;
        transform: translateX(0) !important;
        transition-delay: calc(var(--delay, 0ms));
    }
}

@media only screen and (max-width: 768px) { 
    #jumboCon {
        #jumboRow {
            #jumboColText {
                #voltaJumboLogo {
                    #voltaLogo {
                        img {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-lgr;
                            height: 75px;
                            margin: 50px;
                        }
                    }
                }
                #jumboText {
                    @include box-reset-default;
                    //border: $gb-row_2-sol-org;
                    height: 50%;
                    width: 100%;
                    align-items: end;
                    padding: 50px 50px 50px 50px;
                    #missionTexts {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        border-left: 1px solid white;
                        border-right: 0px;
                        padding: 10px 10px 0 10px;
                        height: fit-content;
                        text-align: start;
                        font-weight: 100;
                        font-size: 1.1rem;
                        overflow: hidden;
                        p {
                            opacity: 1;
                            transform: translateX(0);
                            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
                        }
                        .fade-out {
                            opacity: 1;
                            transform: translateX(-100%); // <<< Slide left 20px
                            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
                        }
                        .fade-in {
                            opacity: 1;
                            transform: translateX(0); // <<< Slide back to original
                            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    
    #menuOpen {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 3;
        background-color: rgba(25, 25, 25, 0.90);
        transition: width 0.75s ease-in-out;
        overflow: hidden;
        text-align: start;
    }
}