@use "../../../../../style" as *;

#prjTextCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 110vh;
    height: 110svh;
    min-height: 650px;
    display: grid;
    justify-items: center;
    #projTextRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100%;
        max-width: 1300px;
        align-content: center;
        align-items: center;
        padding: 50px;
        #projTextCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            #projProfileRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                align-items: center;
                #projProfileCol {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    height: 100%;
                    color: black;
                    padding: 10px 50px 10px 0px;
                    h4, strong {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-grn;
                        color: black;
                    }
                }
                #projDescCol {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    color: black;
                    text-align: justify;
                    padding: 10px 0 0 50px;
                    border-left: 1px solid black;
                }
            }
        }
    }
}

#prjTextCon {
    .fade-in-target {
        opacity: 0;
        transform: translateY(75px);
        transition: opacity 0.75s ease-out, transform 0.75s ease-out;
    }
    .fade-in-up {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition-delay: calc(var(--delay, 0ms));
    }
}

@media only screen and (max-width: 768px) {
    #prjTextCon {
        #projTextRow {
            @include box-reset-default;
            #projTextCol {
                @include box-reset-default;
                //border: $gb-col_5-sol-blu;
                height: 100%;
                align-content: center;
                padding: 25px;
                #projProfileRow {
                    @include box-reset-default;
                    //border: $gb-row_5-sol-org;
                    align-items: center;
                    #projProfileCol {
                        @include box-reset-default;
                        //border: $gb-col_2-sol-cyn;
                        height: 100%;
                        color: black;
                        padding: 10px 50px 50px 0px;
                        h4, strong {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-grn;
                            color: black;
                            font-size: 1.2rem;
                        }
                    }
                    #projDescCol {
                        @include box-reset-default;
                        //border: $gb-col_2-sol-cyn;
                        color: black;
                        text-align: justify;
                        padding: 10px 0 0 0px;
                        border-left: 0px solid black;
                        h4 {
                            @include box-reset-default;
                            //border: $gb-elm_2-dsh-grn;
                            color: black;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}
