@use "../../../../../style" as *;

#prjTextCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 110vh;
    justify-items: center;
    #projTextRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100%;
        max-width: 1300px;
        align-content: center;
        align-items: center;
        padding: 50px;
        #projTextCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            #projProfileRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                #projLogoCol {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    padding: 10px 10px 10px 10px;
                    align-content: center;
                    justify-items: end;
                    img {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-grn;
                        max-width: 190px;
                    }
                }
                #projProfileCol {
                    @include box-reset-default;
                    //border: $gb-col_2-sol-cyn;
                    color: black;
                    padding: 10px 10px;
                    min-width: fit-content;
                    h4, strong {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-grn;
                        color: black;
                    }
                }
            }
            #projDescRow {
                @include box-reset-default;
                //border: $gb-row_5-sol-org;
                color: black;
                text-align: justify;
                padding: 10px 0;
            }
        }
    }
}

#prjTextCon {
    .fade-in-target {
        opacity: 0;
        transform: translateY(75px);
        transition: opacity 0.75s ease-out, transform 0.75s ease-out;
    }
    .fade-in-up {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition-delay: calc(var(--delay, 0ms));
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    #prjTextCon {
        #projTextRow {
            #projTextCol {
                #projProfileRow {
                    position: relative;
                    #projLogoCol {
                        @include box-reset-default;
                        //border: $gb-col_2-sol-cyn;
                        position: absolute;
                        z-index: 1;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}
