$gb-con_5-sol-red: 5px solid red;
$gb-con_5-dsh-red: 5px dashed red;
$gb-con_5-sol-mag: 5px solid magenta;
$gb-con_5-dsh-mag: 5px dashed magenta;
$gb-con_2-sol-red: 2px solid red;
$gb-con_2-dsh-red: 2px dashed red;
$gb-con_2-sol-mag: 2px solid magenta;
$gb-con_2-dsh-mag: 2px dashed magenta;

$gb-row_5-sol-ylw: 5px solid yellow;
$gb-row_5-dsh-ylw: 5px dashed yellow;
$gb-row_5-sol-org: 5px solid orange;
$gb-row_5-dsh-org: 5px dashed orange;
$gb-row_2-sol-ylw: 2px solid yellow;
$gb-row_2-dsh-ylw: 2px dashed yellow;
$gb-row_2-sol-org: 2px solid orange;
$gb-row_2-dsh-org: 2px dashed orange;

$gb-col_5-sol-blu: 5px solid blue;
$gb-col_5-dsh-blu: 5px dashed blue;
$gb-col_5-sol-cyn: 5px solid cyan;
$gb-col_5-dsh-cyn: 5px dashed cyan;
$gb-col_2-sol-blu: 2px solid blue;
$gb-col_2-dsh-blu: 2px dashed blue;
$gb-col_2-sol-cyn: 2px solid cyan;
$gb-col_2-dsh-cyn: 2px dashed cyan;

$gb-elm_5-sol-grn: 5px solid green;
$gb-elm_5-dsh-grn: 5px dashed green;
$gb-elm_5-sol-lgr: 5px solid limegreen;
$gb-elm_5-dsh-lgr: 5px dashed limegreen;
$gb-elm_2-sol-grn: 2px solid green;
$gb-elm_2-dsh-grn: 2px dashed green;
$gb-elm_2-sol-lgr: 2px solid limegreen;
$gb-elm_2-dsh-lgr: 2px dashed limegreen;