@use "../ui/HomePage.scss";
@use "../ui/pages/NotFoundPage.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}