@use "../../../../../style" as *;

#projectNavMenuCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: fit-content;
    #projectNavHBufferRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 50vh;
        background-color: $voltaBlue;
    }
    #projectNavHeadRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 50vh;
        background-color: $voltaBlue;
        #projectNavHeadCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-cyn;
            align-content: end;
            #titleRow {
                @include box-reset-default;
                //border: $gb-row_2-dsh-org;
                text-align: center;
                width: 100%;
                h1 {
                    font-size: clamp(3rem, 8vw, 10rem);
                }
            }
        }
    }
    #projectNavMainRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: fit-content;
        #projectNavMainCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-cyn;
            #projectCardRow {
                @include box-reset-default;
                //border: $gb-row_2-dsh-ylw;
                height: 150px;
                overflow: hidden;
                align-content: center;
                box-sizing: border-box;
                position: relative;
                img {
                    @include box-reset-default;
                    //border: $gb-elm_2-dsh-lgr;
                    filter: grayscale(100%);
                }
                h3 {
                    @include box-reset-default;
                    //border: $gb-elm_2-dsh-lgr;
                    padding-left: 50px;
                    width: fit-content;
                    position: absolute;
                    z-index: 2;
                    align-self: center;
                    visibility: hidden;
                }
                #titleBox {
                    @include box-reset-default;
                    //border: $gb-elm_2-dsh-lgr;
                    position: absolute;
                    z-index: 1;
                    height: 0;
                    align-content: center;
                    background-color: $filterLayer;
                    visibility: hidden;
                }
            }
            #gapRow {
                @include box-reset-default;
                //border: $gb-row_2-dsh-ylw;
                height: 15px;
            }
            #hoverBox:hover {
                #projectCardRow {
                    height: 160px;
                    transition: height 0.35s linear;
                    cursor: pointer;
                    img {
                        filter: grayscale(0%);
                        transition: filter 0s linear 0.35s;
                    }
                    h3 {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        padding-left: 50px;
                        width: fit-content;
                        position: absolute;
                        z-index: 2;
                        align-self: center;
                        visibility: visible;
                    }
                    h3:hover {
                        color: $sunOrange;
                    }
                    #titleBox {
                        @include box-reset-default;
                        //border: $gb-elm_2-dsh-lgr;
                        position: absolute;
                        z-index: 1;
                        height: 100%;
                        //align-self: center;
                        align-content: center;
                        background-color: $filterLayer;
                        visibility: visible;
                        transition: height 0.35s linear;
                    }
                }
                #gapRow {
                    @include box-reset-default;
                    //border: $gb-row_2-dsh-ylw;
                    height: 5px;
                    background-color: $sunOrange;
                    transition: height 0.35s linear,
                                background-color 0s linear 0.35s ;
                }
            }
        }
    }
    #projectNavFooterRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 75vh;
    }
}