@use "../../../style" as *;

header {
    @include box-reset-default;
    border: $gb-con_5-dsh-mag;
    height: 100vh;
}
main {
    @include box-reset-default;
    border: $gb-con_5-dsh-mag;
    height: 100vh;
}
footer {
    @include box-reset-default;
    border: $gb-con_5-dsh-mag;
    height: 100vh;
}