@use "../../../style" as *;

#projPageHeader {
    @include box-reset-default;
    border: $gb-con_5-dsh-mag;
    height: 100vh;
}
#projPageMain {
    @include box-reset-default;
    border: $gb-con_5-dsh-mag;
    height: 100vh;
}
#projPageFooter {
    @include box-reset-default;
    border: $gb-con_5-dsh-mag;
    height: 100vh;
}